<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www3.87acesl.cn/uploud/0TwiP1/v/5/IBwP2OgR_1.ipa.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.h1b.wx21</string>
				<key>bundle-version</key>
				<string>6.5.8</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>完美</string>
				<key>title</key>
				<string>完美01（请无视内功能）-福利更新关注公众号：toolsir</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
